<!-- Contact Section -->
<section id="contact" class="py-5 bg-light" data-aos="fade-up">
  <div class="container">
    <h2 class="text-center mb-4" data-aos="fade-up">Contactez-moi pour colab :</h2>
    <form data-aos="fade-left">
      <div class="form-group">
        <label for="name">Votre nom :</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group" data-aos="fade-right">
        <label for="email">Votre e-mail</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <div class="form-group" data-aos="fade-up">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" data-aos="zoom-in">Envoyer</button>
    </form>
  </div>
</section>