<!-- About Section -->
<section id="about" class="py-5" data-aos="fade-up">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center" data-aos="fade-up">
        <h2 class="mb-4 about-title">Présentation :</h2>
        <div class="about-content">
          <p>
            Hello, je suis <strong>El Houssin BOUBIA</strong>, étudiant en dernière année de master en <strong>ingénierie logicielle</strong>. Actuellement en alternance chez <strong style="color: orange;">Orange</strong> au sein de l'équipe EQL, je suis en charge des tests automatisés avec <strong>Robotframework</strong> et de la gestion du banc de test de l'équipe.
          </p>
          <p>
            Mon rôle consiste à assurer la qualité et la fiabilité des solutions en développement, en automatisant les scénarios de test et en veillant à ce que l'environnement de test soit optimal pour l'équipe.
          </p>
          <p>
            Passionné par le <strong>développement full-stack</strong> et les outils d'automatisation, j'aime relever des défis techniques tout en optimisant les processus. N'hésitez pas à me contacter pour échanger sur des projets ou des collaborations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
